<main class="col-md-12 p-4 mx-auto">
  <div class="card shadow rounded-3">
    <div class="card-header bg-primary text-white text-center">
      <h2 class="mb-0">Requests Management</h2>
    </div>
    <div class="card-body">
      <div class="table-responsive">
        <table class="table table-hover table-bordered align-middle w-100">
          <thead class="table-dark">
          <tr>
            <th scope="col">#</th>
            <th scope="col">First Name</th>
            <th scope="col">Requested Document</th>
            <th scope="col">Purpose</th>
            <th scope="col">State</th>
            <th scope="col">Message</th>
            <th scope="col">Created At</th>
            <th scope="col">Actions</th>
          </tr>
          </thead>
          <tbody>
          <% @requests.each_with_index do |request, index| %>
            <tr>
              <th scope="row"><%= index + 1 %></th>
              <td><%= request.firstname %></td>
              <td><%= request.requested_document %></td>
              <td><%= request.document_purpose %></td>
              <td><%= request.state.capitalize %></td>
              <td><%= request.message %></td>
              <td><%= request.created_at.strftime("%d %b %Y %H:%M") %></td>
              <td class="text-center">
                <% if request.may_process? %>
                  <%= button_to 'Process', request_process_state_path(request), method: :patch, class: 'btn btn-sm btn-success' %>
                <% elsif request.may_complete? %>
                  <%= button_to 'Complete', request_complete_state_path(request), method: :patch, class: 'btn btn-sm btn-warning' %>
                <% else %>
                  <span class="badge bg-secondary">Completed</span>
                <% end %>
              </td>
            </tr>
          <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</main>